@{
    ViewBag.Title = "Foreign language its easy";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Hello!</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This service is designed for people who want to learn a foreign language spoken. 
                Especially for this was set up this service, here you will not have homework and boring texts. 
                You will communicate with native speakers on any topic. We hope that you like our service.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>communicate simply</h5>
        Chat in real time with real people by means of chat / calls.
    </li>

    <li class="two">
        <h5>Rate your interlocutor.</h5>
        You can assign a rating to your contact in the future, we were able to improve
        the selection of people and improve our service.
    </li>

    <li class="three">
        <h5>Communicate when you are away from your computer.</h5>
        Especially for this purpose we have developed a great application, using which you will be able to stay in touch!
    </li>
    <li>

        <img src="~/Images/Available_on_the_App_Store.png" height="40" width="130" />
        <img src="~/Images/Google-Play.png" height="40" width="130" />
        <img src="~/Images/app_windowstore.png" height="40" width="130" />
    </li>
</ol>
